*.lock
*.bin
*.lock
*.class
*.java
.gradle/8.10.2/checksums/checksums.lock
.gradle/8.10.2/checksums/md5-checksums.bin
.gradle/8.10.2/checksums/sha1-checksums.bin
.gradle/8.10.2/executionHistory/executionHistory.bin
.gradle/8.10.2/executionHistory/executionHistory.lock
.gradle/8.10.2/fileHashes/fileHashes.bin
.gradle/8.10.2/fileHashes/fileHashes.lock
.gradle/8.10.2/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
*.toml
*.bin
*.probe
/.idea
